includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - lib/phpstan/phpstan.neon

parameters:
	bootstrapFiles:
		- tests/bootstrap.php
		- vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
	excludePaths:
			- %currentWorkingDirectory%/tests/ArtyCodingStandard/Sniffs/*/data/*
