name: Security checks - Github Action

on:
  pull_request:
    paths: [.github/workflows/**]

jobs:
  ci_harden_security:
    name: Ensure SHA pinned actions
    runs-on: ubuntu-latest
    steps:
      - name: Fetch lastest changes
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@6124774845927d14c601359ab8138699fa5b70c3
