name: Security checks - Github Action

on:
  pull_request:
    paths: [.github/workflows/**]

jobs:
  ci_harden_security:
    name: Ensure SHA pinned actions
    runs-on: ubuntu-latest
    steps:
      - name: Fetch lastest changes
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@9e9574ef04ea69da568d6249bd69539ccc704e74
